/* You can add global styles to this file, and also import other style files */

$rougePrefere : #42A948;

.ng-valid[required] {
    border-left: 5px solid $rougePrefere ; /* green */
    }

    
input.ng-invalid {
    border-left: 5px solid #a94442; /* red */
    }